<div id = "titles">
  <form name="selectBoard">
    <h3>Which board do you want to show?</h3> 
      <ul>
        <li *ngFor = "let boardInfo of boardInfos"> 
          <label>
            <input type="checkbox" id = "{{boardInfo.id}}" (click)="addSelectedToArray(boardInfo.id)">
           {{boardInfo.title.title}} {{boardInfo.id}}</label><br/>
        </li>
      </ul>
  </form>
</div>


<button (click)="giveItOut()">Show it</button>
<button (click)="onBoardSelected()">show last selected board</button>

<app-post-logic></app-post-logic>