/* You can add global styles to this file, and also import other style files */
html
{
      text-align: center;
      background-color: rgb(241, 229, 229);
      font-family: Arial, sans-serif;
}

h1
{
      font-family: Indie Flower;
      font-size: 50px;
}