#nav
{
    background-color: #333;
    color: rgb(241, 229, 229);
    font-size: 150%;
    margin: 0 0 5% 0;
    padding: 2% 0 2% 0; 
    text-align: left;
    border-radius: 10px 10px 0 0;
}
a#rightAlign
{
    float: right;
    margin-top: -2%;
    padding-bottom: 1.95%;
    border-radius: 0 10px 0 0;
}   
a#leftAlign
{
    border-radius: 10px 0 0 0;
}
 /* unvisited link */
a:link {
    color:rgb(241, 229, 229);
    text-decoration: none;
    padding: 2.02%;
}

/* visited link */
a:visited {
    color: rgb(204, 189, 189);
}

/* mouse over link */
a:hover {
    color: rgb(241, 229, 229);
    background-color: rgb(100, 100, 100);
    cursor: pointer;
}

/* selected link */
a:active {
    color: rgb(241, 229, 229);
}
