#nav
{
    background-color: blueviolet;
    font-size: 150%;
    margin: 5%; 
    padding: 2%; 


}
#nav.login
{
    text-align: right;
}   
 /* unvisited link */
a:link {
    color: red;
    text-decoration: none;
    padding: 5%;
}

/* visited link */
a:visited {
    color: yellowgreen;
}

/* mouse over link */
a:hover {
    color: hotpink;
    padding: 5%;
    background-color: blue;
    
}

/* selected link */
a:active {
    color: blue;
}
